*node_modules*
.idea/
.vscode/
**/*/dist
*/Dockerfile
*/demo/dist
.DS_Store
**/*/.nyc_output
**/cypress/videos
**/cypress/screenshots
.icloud
.cache/
docs/src/reference/pages/**
docs/src/reference/routes/**
