*node_modules*
.idea/
.vscode/
**/*/dist
*/Dockerfile
*/demo/dist
.DS_Store
**/*/.nyc_output
**/cypress/videos
**/cypress/screenshots
.icloud
.cache/
framework/sandbox/reference/pages/**
framework/sandbox/reference/routes/**
